---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-hicpp-signed-bitwise,-android-*'
WarningsAsErrors: '*,-bugprone-lambda-function-name,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-type-reinterpret-cast'
HeaderFilterRegex: ''
FormatStyle:     none


