# VS Folders
.vs/
.vscode/

# Build/Output
out/
build/

# JetBrains Folders
.idea/

# Virtual Environment Folders
venv/
.venv/

# PyCharm Folders
__pycache__
.pytest_cache

# Prerequisites
*.d

# Other folders
TestResults/
.cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app